body {
    background-color: #222; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    display: flex;             
    justify-content: center;    
    background-color: #222;
    padding: 20px;
}

.menu a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover,
.menu a.active {
    background-color: darkred; 
}